{% if cookiecutter.aws.lower()=='y' -%}
AWS_REGION=
AWS_KEY=
AWS_SECRET_KEY=
{% endif -%}

{% if cookiecutter.s3.lower()=='y' -%}
BUCKET=
{% endif -%}

{% if cookiecutter.data_base.lower()=='y' -%}
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
{% endif -%}
